.path ul li{
  position: absolute;
  background-color: red;
}
.partners:nth-child(4){
  border-right: 0;
} 
.partners:nth-child(5){
  border-bottom: 0;
} 
.partners:nth-child(6){
  border-bottom: 0;
} 
.partners:nth-child(7){
  border-bottom: 0;
} 
.partners:nth-child(8){
  border-bottom: 0;
  border-right: 0;
} 